body {
	background-color: #555;
}

.background {
	height: 603px;
	width: 375px;
	padding-bottom: 15px;
	background-color: white;

}

.header {
	height: 64px;
	width: 375px;
	background-color:#FFE651;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Helvetica';
	text-align: center;
	line-height: 60px;
}

.header .backButton{
	position: absolute;
	margin-top: 5px;
	width: 15.6px;
	left: 25px;
}

.container img {
	object-fit: cover;
	opacity: 0.9;
	z-index: -1;
}

.container {
	position: relative;
	display: inline-block;
	text-align: center;
}

.bottom-left {
	position: absolute;
	margin-left: 10px;
	margin-top: 120px;
	font-weight: bold;
	font-size: 25px;
	font-family: 'Helvetica';
	color: white;
	text-shadow: 2px 2px 4px #000000;
	z-index: 1;
}

.container button {
	position: absolute;
	margin-left: 290px;
	margin-top: 122px;
	z-index: 1;
	height: 24px;
	width: 66px;
	background-color: #F5A623;
	text-align: center;
	border-radius: 6px;
	border: none;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 13px;
	color: white;
}

.container button:hover {
	background-color: #fcd800;
}

.time {
	margin-top: 15px;
	margin-left: 20px;
	padding-bottom: 15px;
	font-size: 15px;
	font-family: 'Helvetica';
	display: inline-block;
	clear: both;
}

.time .time-text {
	float: left;
}

.time .time-time {
	float: right;
	margin-left: 140px;
}

.orderList {
	margin-left: 20px;
	margin-right: 20px;
}

.item {
	margin-top: 15px;
	padding-bottom: 5px;
	font-size: 15px;
	font-family: 'Helvetica';
	display: block;
	clear: both;
	border-bottom: 1px solid lightgrey;
}







.continue button {
	background-color: #FFE651;
	text-align: center;
	border-radius: 25px;
	border: none;
	font-size: 17px;
	font-weight: bold;
	width: 182px;
	height: 42px;
}

.continue button:hover {
	background-color: #fcd800;
}
.time_message{
	font-family: 'Helvetica';
color: black;
font-size: 14px;
float: left;
margin-left: 20px;
}
.add_to_order{
	font-family: 'Helvetica';
	color: black;
	font-size: 20px;
text-align: left;
margin-left: 20px;
margin-top: 20px;
}

.pic img {
	margin: 20px;
}
.prices{
font-family: 'Helvetica';
color: black;
font-size: 10px;
align:middle;
}
.add_button{
	font-family: 'Helvetica';
	color: white;
	float:right;
	margin-right: 20px;
	margin-top: 35px;
	align:middle;
	text-align: center;
	border-radius: 6px;
	border:none;
	background-color: #FEE651;

}
.progress_bar_full_first{
	display: inline-block;
	float:left;
	border:none;
	border-radius:6px;
	background-color: #FEE651;
	height: 12px;
	width: 66px;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 1px;
}
.progress_bar_full_second{
	float: left;
	display: inline-block;
	border:none;
	border-radius:6px;
	background-color: #FEE651;
	height: 12px;
	width: 66px;
	margin-right: 4px;
	margin-top: 1px;
}
.progress_bar_empty{
	display: inline-block;
	width: 66px;
	height: 10px;
	border-color: #FEE651;
	border-style: solid;
	background-color: white;
	border-radius: 10px;
	margin-right: 4px;
	margin-top: 1px;
}
