a{
    text-decoration: none;
	width: 25px;
    display: inline-block;
    padding: 8px 16px;	
	margin-top: 20px;
}

.header {
	height: 64px;
	width: 375px;
	background-color:#FFE651;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Helvetica';
	text-align: center;
	line-height: 60px;
}

.header .backButton{
	position: absolute;
	margin-top: -24px;
	margin-left: -21px;	
	width: 15.6px;
	left: 25px;
}

p{
	 font-family: 'Helvetica';
	text-align:center;
	font-weight:bold;
}

p#title{
	font-weight:bold;
	text-align:center;
	padding:5px 81px;
	font-size: 20px;
}

div{
	width:375px;
}

p.first{
	 font-family: 'Helvetica';
	font-size:30px;
	margin-top:100px;
}

p.second{
	 font-family: 'Roboto';
	margin-top:50px;
	margin-bottom: 100px;
	font-size:20px;
	
}

.button {
	 font-family: 'Roboto';
    background-color: #0066cc;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    margin: 4px 20px;
    cursor: pointer;
	width:340px;
}


div.button_section{
	width:375px;
}