body {
	background-color: #555;
}

.background {
	height: 603px;
	width: 375px;
	padding-bottom: 15px;
	background-color: white;
	text-align: center;
}

a{
    text-decoration: none;
	width: 25px;
    display: inline-block;
    padding: 8px 16px;	
	margin-top: 20px;
}

.header {
	height: 64px;
	width: 375px;
	background-color:#FFE651;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Helvetica';
	text-align: center;
	line-height: 60px;
}

.header .backButton{
	position: absolute;
	margin-top: 5px;
	width: 15.6px;
	left: 25px;
}
p{
	font-family: 'Helvetica';
	font-weight:bold;
}
.instruction{
	text-align:left;
	padding-top:40px;
	margin-left:20px;
	margin-bottom:-20px;
}

.row {
	margin-left:-40px;
    display: flex;
	width:375px;
}

.column {
    flex: 33.33%;
}

.container {
  text-align: center;
  padding: 0px 15px;
  font-size: 20px;
}

.container2 {
  text-align: center;
  padding: 0px 10px;
  font-size: 20px;
}

.button {
    background-color: #0066cc;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    cursor: pointer;
	width:340px;
}
.button:hover{
	background-color:#003399
}


div.button_section{
	margin-top:105px;
	width:375px;
}