body {
	background-color: #555;
}

.background {
	height: 603px;
	width: 375px;
	padding-bottom: 15px;
	background-color: white;
}

.header {
	height: 64px;
	width: 375px;
	background-color:#FFE651;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Helvetica';
	text-align: center;
	line-height: 60px;
}

.header .backButton{
	position: absolute;
	margin-top: 5px;
	width: 15.6px;
	left: 25px;
}

.container img {
	object-fit: cover;
	opacity: 0.9;
	z-index: -1;
}

.container {
	position: relative;
	display: inline-block;
	text-align: center;
}

.bottom-left {
	position: absolute;
	margin-left: 10px;
	margin-top: 120px;
	font-weight: bold;
	font-size: 25px;
	font-family: 'Helvetica';
	color: white;
	text-shadow: 2px 2px 4px #000000;
	z-index: 1;
}

.time {
	margin-top: 15px;
	margin-left: 20px;
	padding-bottom: 15px;
	font-size: 15px;
	font-family: 'Helvetica';
	display: inline-block;
	clear: both;
	border-bottom: 1px solid lightgrey;
}

.time .time-text {
	float: left;
}

.time .time-time {
	float: right;
	margin-left: 140px;
}

.orderList {
	margin-left: 20px;
	margin-right: 20px;
}

.avatar {
	text-align: center;
	padding-top: 20px;
}

.circle {
	border: 0.5px solid #FFE651;
	border-radius: 100px;
	display: inline-block;
}

.avatar img {
	margin: 6px 6px 2px 6px;

}

.question {
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Helvetica';
	text-align: center;
}

.summary {
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
	padding-top: 15px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.summary-title {
	display: inline-block;
	padding-top: 20px;
	margin-bottom: 30px;
	margin-left: 20px;
	font-weight: bold;
	font-size: 22px;
	font-family: 'Helvetica';
}

.summary button {
/*	position: absolute;*/
	margin-right: 20px;
	margin-left: 80px;
	margin-top: 10px;
	z-index: 1;
	height: 24px;
	width: 66px;
	background-color: #ff6666;
	text-align: center;
	border-radius: 6px;
	border: none;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 13px;
	color: white;
}

.summary button:hover {
	background-color: #ef4040;
}

.item {
	margin-top: 15px;
	margin-left: 20px;
	font-size: 15px;
	font-family: 'Helvetica';
	display: block;
	clear: both;
	height: 25px;
	width: 255px;
}

.item .item-title {
	float: left;
}

.item .item-price {
	float: right;
	font-weight: bold;
}

*:focus {
    outline: none;
}

.continue {
	margin-top: 15px;
	text-align: center;
}

.continue button {
	background-color: #FFE651;
	text-align: center;
	border-radius: 25px;
	border: none;
	font-size: 17px;
	font-weight: bold;
	width: 182px;
	height: 42px;
}

.continue button:hover {
	background-color: #fcd800;
}

.info{
	margin-top: 30px;
	text-align: center;
}

.small_black{
	margin-right: 20px;
  	margin-left: 20px;
	padding-top: 10px;
  	padding-bottom: 5px;
  	font-family: 'Helvetica';
  	font-size: 18px;
  	font-weight: bold;
}

.big_black{
	margin-right: 20px;
	border margin-right: 20px;
  	margin-left: 20px;
	padding-top: 5px;
  	padding-bottom: 5px;
  	font-family: 'Helvetica';
  	font-size: 30px;
  	font-weight: bold;
}

.table{
	margin-right: 20px;
	margin-left: 20px;
	font-family: 'Helvetica';
	font-size: 15px;
	font-weight: bold;
	display:inline-block;
}

.partner{
	margin-right: 20px;
	margin-left: 20px;
	font-family: 'Helvetica';
	font-size: 15px;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 5px;
}

.check_in{
	color: #ff6666;
	margin-right: 20px;
	border margin-right: 20px;
  	margin-left: 20px;
	padding-top: 5px;
  	font-family: 'Helvetica';
  	font-size: 15px;
}
