body {
	background-color: #555;
}

.background {
	height: 603px;
	width: 375px;
	background-color: white;
	text-align: center;
	padding-top: 20px;
}

.header {
	height: 64px;
	width: 375px;
	background-color:#FFE651;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Helvetica';
	text-align: center;
	line-height: 60px;
}

.header .backButton{
	position: absolute;
	width: 15.6px;
	left: 25px;
}

.description{
	font-family: 'Helvetica';
	width: 80px;
	font-size:18px;
}

.Review{
	padding-bottom: 18px;
	margin-left:25px;
	margin-top:40px;
	text-align:left;
	font-family:'Helvetica';
	font-weight:bold;

}
textarea {
	margin-top: 10px;
	width:305px;
	height:305px;
	resize: none;
	font-family:'Helvetica';
	padding:10px;
	font-size:15px;
}

button:focus,
input:focus {
	outline:0;
}

.button {
    background-color: #0066cc;
    border: none;
    color: white;
	padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	width:340px;
	font-family: 'Helvetica';
	font-size: 20px;
	margin-top:130px;
	border-radius: 25px;
}
.button:hover{
	background-color:#003399
}


