body {
	background-color: #555;
}

a {
	color: inherit;
}

.background {
	height: 603px;
	width: 375px;
	padding-bottom: 15px;
	background-color: white;
	overflow:scroll;
}

.header {
	height: 64px;
	width: 375px;
	background-color:#FFE651;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Helvetica';
	text-align: center;
	line-height: 60px;
}

.header .backButton{
	position: absolute;
	margin-top: 5px;
	width: 15.6px;
	left: 25px;
}

.container img {
	object-fit: cover;
	opacity: 0.9;
	z-index: -1;
}

.container {
	position: relative;
	display: inline-block;
	text-align: center;
}

.bottom-left {
	position: absolute;
	margin-left: 10px;
	margin-top: 120px;
	font-weight: bold;
	font-size: 25px;
	font-family: 'Helvetica';
	color: white;
	text-shadow: 2px 2px 4px #000000;
	z-index: 1;
}

.shared_button_default {
	position: absolute;
	margin-left: 290px;
	margin-top: 122px;
	z-index: 1;
	height: 24px;
	width: 66px;
	background-color: #F5A623;
	text-align: center;
	border-radius: 6px;
	border: none;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 13px;
	color: white;
}

.container button:hover {
	background-color: #fcd800;
}

.time {
	margin-top: 15px;
	margin-left: 20px;
	padding-bottom: 15px;
	font-size: 15px;
	font-family: 'Helvetica';
	display: inline-block;
	clear: both;
	border-bottom: 1px solid lightgrey;
}

.time .time-text {
	float: left;
}

.time .time-time {
	float: right;
	margin-left: 140px;
}

.orderList {
	margin-left: 20px;
	margin-right: 20px;
}

.item {
	margin-top: 15px;
	font-size: 15px;
	font-family: 'Helvetica';
	display: block;
	clear: both;
	border-bottom: 1px solid lightgrey;
	height: 50px;
	width: 330px;
}

.item .item-title {
	float: left;
}

.item .item-price {
	float: right;
}

.item .item-extra {
	position: relative;
	margin-top: 20px;
	padding-top:30px;
	width: 330px;
	font-size: 13px;
}

.item-extra .item-note {
	color: #8E8E93;
	float: left;
}

.item-extra .item-number {
	color: #F5A623;
	float: right;
}

input[type=text] {
	width: 333px;
    height: 26px;
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 10px;
    border: 1px;
    display: block;
    font-size: 13px;
    font-family: 'Helvetica';
    border-bottom: 1px solid lightgrey;
}

*:focus {
    outline: none;
}

.checkout {
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 18px;
	font-family: 'Helvetica';
	font-size: 13px;
	border-bottom: 1px solid lightgrey;
}

.checkout-item {
	margin-top: 15px;
	display: block;
	clear: both;
	padding-bottom: 10px;
}

.checkout-item .checkout-title {
	float: left;
}

.checkout-item .checkout-price {
	float: right;
}

.total {
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 30px;
	font-family: 'Helvetica';
	font-size: 15px;
	font-weight: bold;
}

.total-title {
	float: left;
}

.total-price {
	float: right;
}

.continue {
	margin-top: 15px;
	text-align: center;
}

.continue button {
	background-color: #FFE651;
	text-align: center;
	border-radius: 25px;
	border: none;
	font-size: 17px;
	font-weight: bold;
	width: 182px;
	height: 42px;
}

.continue button:hover {
	background-color: #fcd800;
}
