body {
	background-color: #555;
}

.background {
	height: 603px;
	width: 375px;
	padding-bottom: 15px;
	background-color: white;
	text-align: center;
}

.header {
	height: 64px;
	width: 375px;
	background-color: #FFE651;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Helvetica';
	text-align: center;
	line-height: 60px;
}

.header .backButton{
	position: absolute;
	margin-top: 5px;
	width: 15.6px;
	left: 25px;
}

.avatar {
	text-align: center;
	padding-top: 55px;
}

.circle {
	border: 0.5px solid #FFE651;
	border-radius: 100px;
	display: inline-block;
}

.avatar img {
	margin: 6px 6px 2px 6px;

}

.question {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Helvetica';
	text-align: center;
}

.rating-stars ul {
  list-style-type: none;
  padding: 0;
}

.rating-stars ul > li.star {
  display: inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1.7em;
  color:#ccc;
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color: #F5BB23;
}

.tip-selector {
	text-align: center;
	padding: 20px;
	margin-left: 45px;
	width: 244px;
    height: 37px;
}

/* Radio group */
.segmented {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    font-family: "Helvetica";
    font-size: 15px;
}

.segmented label {
    display: block;
    flex: 1;
    box-sizing: border-box;
    border: 1px solid #FFE651;
    border-right: none;
    color: black;
    padding: .4em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.segmented label.checked {
    background: #FFE651;
    color: black;
}

.segmented label:first-child {
    border-radius: .4em 0 0 .4em;
    border-right: 0;
}

.segmented label:last-child {
    border-radius: 0 .4em .4em 0;
    border-right: 1px solid;
    border-color: #FFE651;
}

.segmented input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    position: absolute;
}

.tip {
	margin-top: 130px;
	display: inline-block;
	font-family: "Helvetica";
    font-size: 17px;
}

.tip .tip-title {
	float: left;
	font-weight: bold;
}

.tip .tip-price {
	float: right;
	margin-left: 5px;
}

.done {
	margin-top: 15px;
	text-align: center;
}

.done button {
	background-color: #FFE651;
	text-align: center;
	border-radius: 25px;
	border: none;
	font-size: 17px;
	font-weight: bold;
	width: 182px;
	height: 42px;
}

.done button:hover {
	background-color: #fcd800;
}