body {
	background-color: #555;
}
.background {
	height: 603px;
	width: 375px;
	padding-bottom: 15px;
	background-color: white;
	text-align: center;

}

.header {
	height: 64px;
	width: 375px;
	background-color:#FFE651;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Helvetica';
	text-align: center;
	line-height: 60px;
}

.header .backButton{
	position: absolute;

	width: 15.6px;
	left: 25px;
}

p#title{
	 font-family: 'Helvetica';
	text-align:center;
	padding:5px 81px;
	font-size: 17px;
	margin-left:20px;
}
.item {
	padding: 20px 30px;
	height: 80px;
	display: flex;
	width:300px;
	border-bottom:  1px solid #E1E8EE;
	position:relative;
  
}

.description{
	 font-family: 'Helvetica';
	padding-top: 10px;
	margin-right: 60px;
	margin-top:15px;
	width: 80px;
	font-size:18px;
}
.quantity {
	padding-top: 20px;
	margin-left: 200px;
	position:absolute;
}
.quantity input {
	-webkit-appearance: none;
	border: none;
	text-align: center;
	width: 32px;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
}
 
button[class*=btn] {
	width: 30px;
	height: 30px;
	background-color: #E1E8EE;
	border-radius: 6px;
	border: none;
	cursor: pointer;
}
.minus-btn img {
	margin-bottom: 3px;
}
.plus-btn img {
	margin-top: 2px;
}
 
button:focus,
input:focus {
	outline:0;
}

.button {
    background-color: #0066cc;
    border: none;
    color: white;
	padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	width:340px;
	font-family: 'Helvetica';
	font-size: 20px;
	margin-top:75px;
}
.button:hover{
	background-color:#003399
}

